<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbw.demo.dao.SysUserDao">
    <!--查询所有用户信息-->
    <select id="queryUserAll" resultType="com.wbw.demo.entity.SysUserEntity">
        SELECT
        ur.*
        FROM
        sys_user ur
        WHERE
        1 = 1
    </select>

    <!--根据用户userId查询用户信息-->
    <select id="queryUserInfo" resultType="com.wbw.demo.entity.SysUserEntity">
        SELECT
        *
        FROM
        sys_user ur
        WHERE ur.user_id = #{userId}
    </select>

    <update id="updateUserInfo" parameterType="com.wbw.demo.entity.SysUserEntity">
        UPDATE sys_user u
        <set>
            <if test="username != null">
                u.username = #{username},
            </if>
        </set>
        WHERE
        u.user_id = #{userId}
    </update>

</mapper>